@import "../../_common/colors";

.card-wrapper {
  margin: auto;
  color: #fff;
  width: 256px;
  height: 515px;
  border-radius: 10px;
  background-color: $dark-blue;
  .card-content {
    padding: 32px;
    height: 300px;
    background-color: $primary-blue;
    border-radius: 10px;
    .user-img {
      width: 70px !important;
      height: 70px !important;
      border-radius: 50%;
      border: 2px #fff solid;
      img {
        width: inherit;
        border-width: 2px;
        border-color: #fff;
      }
    }
    .card-info {
      margin-top: 40px;
      text-align: left;
      .report-for {
        font-weight: 400;
        color: $desaturated-blue;
        margin-bottom: 10px;
      }
      .user-name {
        font-size: 40px;
        font-weight: 300;
      }
    }
  }
  .card-filters {
    ul {
      padding-top: 10px;
      list-style-type: none;
      text-align: left;
      .isActive {
        color: #fff;
      }
      li {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 300;
        color: $desaturated-blue;
        
        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
